.lwa {
    clear: both;
    background-color: rgba(88, 199, 238, 0.2);
    border: 2px #58c7ee solid;
    padding: 0 0 15px 0;
    margin: 0 30px 20px 30px;
}

#sidebar .lwa label{
    display: block;
    font-size: 0.9em;
    font-weight: bold;
    line-height: .9em;
}

.lwa input{
    color: #fff;
    border: 1px #58c7ee solid;
    border-radius: 5px;
    background-color: rgba(88, 199, 238, 0.2);
    padding: 3px;
}

.lwa .lwa-username-label{
    padding-left: 10px;
    width: 50px;
}

.lwa .lwa-password-label{
    padding-left: 10px;
}

.lwa .lwa-submit-button{
    padding-left: 10px;
    padding-right: 10px;
}

.lwa .lwa-submit-links{
    padding-top: 13px;
}

.lwa .lwa-submit-links input{
    float: left;
}

.lwa .lwa-submit-links label{
    float: left;
}

.lwa .lwa-avatar{
    padding-left: 30px;
    padding-top: 16px;
}

.lwa .lwa-info{
    padding-left: 15px;
    padding-top: 15px;
}

.lwa .lwa-info a{
    font-size: 0.9em;
}

.lwa .wp-user-avatar{
    border: 1px #58c7ee dashed;
    padding: 2px;
}