#col3{
    position: fixed;
    width: 275px;
    top: 0px;
    z-index: 10;
}

#to_right_buttom{
    display: none;
    background-color: #58c7ee;
    font-size: 24px;
    color: #000000;
    font-weight: bold;
    text-align: center;
}

.move_right{
    left: 0;
}

.move_left{
    left: -232;
}

#sidebar_moble{
    float: left;
    width: 230px;
    border-right: 2px solid #58c7ee;
    background-color: #000000;
    font-size: 20px;
}

#sidebar_moble li h2{
    width: 80%;
    text-align: center;
    border-bottom: 2px #58c7ee solid;
    padding: 8px 0px 8px 0px;
    float: left;
    font-size:24px;
}

#sidebar_moble li label{
    display: none;
}

#sidebar_moble li ul li{
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
    list-style: none;
}