@keyframes border_shadow_animate_out {
    0%{box-shadow: -5px 5px 10px #005a87;}
    100%{box-shadow: -12px 7px 10px #005a87;}
}

@keyframes border_shadow_animate_in {
    0%{box-shadow: -12px 7px 10px #005a87;}
    100%{box-shadow: -5px 5px 10px #005a87;}
}

.border_out_start{
    box-shadow: -5px 5px 10px #005a87;
}

.border_out_end{
    box-shadow: -12px 7px 10px #005a87;
}

.border_shadow_out{
    animation-name: border_shadow_animate_out;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.border_shadow_in{
    animation-name: border_shadow_animate_in;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

@keyframes  span_shadow_animate_out{
    0%{box-shadow: -5px 5px 0px 0px rgba(0, 0, 0, 0.4);}
    100%{box-shadow: -12px 7px 0px 0px rgba(0, 0, 0, 0.4);}
}

@keyframes  span_shadow_animate_in{
    0%{box-shadow: -12px 7px 0px 0px rgba(0, 0, 0, 0.4);}
    100%{box-shadow: -5px 5px 0px 0px rgba(0, 0, 0, 0.4);}
}

.ui-border-element_start{
    box-shadow: -5px 5px 0px 0px rgba(0, 0, 0, 0.4);
}

.ui-border-element_end{
    box-shadow: -12px 7px 0px 0px rgba(0, 0, 0, 0.4);
}

.span_shadow_out{
    animation-name: span_shadow_animate_out;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.span_shadow_in {
    animation-name: span_shadow_animate_in;
    animation-duration: 500ms;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}